# Database
DATABASE_URL=postgresql://user:password@localhost:5432/book_notes_db

# Server
NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000
